header {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; 
    padding: 20px 40px;
    border-bottom: 1px solid #e0e0e0; 
}

.logo > img {
    height: 100px; 
    width: auto; 

}

.search {
    display: flex;
    align-items: center;
}

.search input[type="search"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #bdbdbd; 
    background-color: #ffffff; 
    outline: none;
    margin-right: 10px; 
}

.search button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #bdbdbd;
    background-color: #000000; 
    color: #ffffff; 
    cursor: pointer;
}

.ac, .carrinho {
    display: flex;
    align-items: center;
}


.espacamento {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

h1 {
    font-size: 65px;
    margin-left: 50px;
}

.search {
    margin-left: 650px;
}

.ac > a > img, .carrinho > a > img {
    height: 40px;
    width: 40px;
}


.carrinho > a > img {
    height: 40px;
    width: 45px;
}

main {
    background-color: #ffffff;
    width: auto;
    height: auto;
}

.linha1, .linha2, .linha3, .linha4, .linha5 {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.pr1, .pr2, .pr3, .pr4, .pr5 {
    font-size: 15px;
    background-color: #ffffff; 
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #bdbdbd; 
}

.pr1 > img, .pr2 > img, .pr3 > img, .pr4 > img, .pr5 > img {
    height: 200px;
    padding-top: 10px;
    width: 200px;
}

.adicionais {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: #ffffff; 
    background-color: #000000; 
    text-align: center;
    text-decoration: none;
    border: 1px solid #bdbdbd; 
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}

footer {
    width: auto;
    background-color: #000000; 
    height: auto;
    padding: 20px 0;
    text-align: center;
    color: #ffffff; 
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-column {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-column h3 {
    border-bottom: 2px solid #ffffff; 
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #ffffff; 
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ffffff; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #bdbdbd; 
}
